<section class="ability">
  <h2 class="ability__title">قابلیت های ویژه بانواز</h2>
  <div class="ability__sec">
    <a class="ability__cell">
      <img src="/assets/image/1.png" alt="cat" class="ability__image" />
      <p class="ability__text">
        سنسورهایی که برای حیوان خانگی شما نصب میشن میتونن با هوش مصنوعی گرسنه
        بودن او رو تشخیص بدن !
      </p>
    </a>
    <a class="ability__cell">
      <img src="/assets/image/2.png" alt="plant" class="ability__image" />
      <p class="ability__text">
        با محاسبه حرارت اطراف خاک گیاهان میشه فهمید کی باید دوباره به گیاه ها آب
        بدی!
      </p>
    </a>
    <a class="ability__cell">
      <img src="/assets/image/3.png" alt="desk" class="ability__image" />
      <p class="ability__text">
        میتونی زمان روشن بودن دستگاه های الکتریکی رو کنترل کنی. یا حتی برای روشن
        بودن اونها از بانواز کمک بگیری.
      </p>
    </a>
    <a class="ability__cell">
      <img src="/assets/image/4.png" alt="doors" class="ability__image" />
      <p class="ability__text">
        باز و بسته شدن درب ها و پنجره ها، تشخیص حضور انسان و کلی قابلیت دیگه در
        سنسورهای بانواز!
      </p>
    </a>
  </div>
</section>
