<section class="container">
  <div class="device">
    <img
      src="/assets/image/device-banavaz.png"
      alt="device"
      class="device__img"
    />
    <h2 class="device__header">مدیریت با دستگاه مرکزی</h2>
    <p class="device__text">
      بانواز برای مدیریت و کنترل سنسورهای خودش از یک دستگاه مرکزی استفاده میکنه
      که همه چیز تحت کنترل همین دستگاه مرکزیه. دستگاه به کمک اینترنت به گوشی شما
      متصل میشه و شما میتونین همه چیز رو تحت کنترل خودتون بگیرین.
    </p>
  </div>
</section>
