<section class="feature container">
  <img
    src="/assets/image/baner-header.png"
    alt="Baner-img"
    class="feature__image"
  />
  <div class="feature__detail">
    <h2 class="feature__title">خیالت از خونه راحت!</h2>
    <p class="feature__text">
      بانواز واژه‌ای کردی به معنای باخبر ساختن با صدای بلند است. درست مثل
      بانواز! با&nbsp;سنسورهای بانواز هیچ اتفاقی بی خبر نیستی! چه&nbsp;خونه باشی
      چه نه.
    </p>
    <button class="btn btn--feature">فروشگاه بانواز</button>
  </div>
</section>
