<header>
  <nav class="nav container">
    <a href="#">
      <img src="/assets/image/Logo.svg" alt="Banvaaz-logo" />
    </a>
    <button class="btn btn--header">فروشگاه بانواز</button>
    <div class="nav__toggler">
      <div class="bar bar-one"></div>
      <div class="bar bar-two"></div>
      <div class="bar bar-three"></div>
    </div>

    <ul class="list nav__list">
      <li class="nav__item"><a href="#">خانه</a></li>
      <li class="nav__item"><a href="#">فروشگاه</a></li>
      <li class="nav__item"><a href="#">درباره ما</a></li>
      <li class="nav__item cta">
        <button class="btn btn--header-primary btn--block">
          ورود به داشبورد
        </button>
      </li>
      <li class="nav__item cta">
        <button class="btn btn--header-secondary btn--block">
          دانلود اپلیکیشن
        </button>
      </li>
    </ul>
  </nav>
</header>
