<section class="services container">
  <div class="services__tabs">
    <a href="#" class="tab">
      <img src="/assets/image/flat-1.svg" alt="door" class="tab__image" />
      <p class="tab__text">درب و پنجره</p>
    </a>
    <a href="#" class="tab">
      <img src="/assets/image/flat-2.svg" alt="flower" class="tab__image" />
      <p class="tab__text">گل و گیاه</p>
    </a>
    <a href="#" class="tab">
      <img src="/assets/image/flat-3.svg" alt="elec_app" class="tab__image" />
      <p class="tab__text">وسایل برقی</p>
    </a>
    <a href="#" class="tab">
      <img src="/assets/image/flat-4.svg" alt="lights" class="tab__image" />
      <p class="tab__text">روشنایی</p>
    </a>
    <a href="#" class="tab">
      <img src="/assets/image/flat-5.svg" alt="heater" class="tab__image" />
      <p class="tab__text">گرمایشی</p>
    </a>
    <a href="#" class="tab">
      <img src="/assets/image/flat-6.svg" alt="pet" class="tab__image" />
      <p class="tab__text">حیوانات</p>
    </a>
  </div>
</section>
